.carrusel{  
    box-shadow: 30px 30px 30px -20px black;
    transition-delay: 0.2s;
    width: 48%;
    margin-top: 2%;
}
.texto{
    box-shadow: 30px 30px 30px -20px black;
    padding: 4vh;
    text-align: justify;
    width: 48%;
    margin-top: 2%;
    
}
.card-img-top{
    max-width: 100%;
}

.colorContainer{
    background-color: rgba(200, 200, 200, 0.303);
    border:solid 2px rgb(211, 169, 41);  
}

.cuerpo_index{
    background-color: rgb(236, 239, 241);
}